/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1E1F1E;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Header styles */
.header {
    background-color: #484A47;
    padding: 0.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100vw;

}

.header-content {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1vw;
    margin: 0;
    font-family: 'Outfit', cursive;
    color: #537A5A;
}

/* Button styles */
.header-button {
    display: flex;
}

/* PlotDisplay styles */
.headline-plot {
    font-size: 2vw;
    margin: 0;
    color: #537A5A;
    cursor: default;

}

.sensor-name {
    font-size: 2vw;
    margin: 0;
    color: #537A5A;
    cursor: default;
}

.gauge-container{
    font-size: 1vw;
    cursor: default;
}

/* Credits styles */
.credits-container {
    color: #484A47;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -2.5vw;
    left: 0;
    right: 0;
    height: 10vh;
    font-size: 1vw;
    cursor: default;
}

.credits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 2rem;
    color: #484A47;
}

.credit-link {
    color: #484A47;
    text-decoration: none;
    transition: text-decoration 0.3s, color 0.3s, cursor 0.3s;
    cursor: pointer;
}

.country {
    text-decoration: none;
    color: inherit;
}

.country:hover {
    text-decoration: underline;
    cursor: pointer;
}

.credit-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.gauge-item {
    margin: 10px;
    width: 300px;
    height: 180px;
}

.temp {
    width: 600px;
    height: 400px;
}

.hum-pres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hum,
.pres {
    margin: 10px;
    width: 400px;
    height: 240px;
}






