/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Dosis, sans-serif;
    background-color: #1E1F1E;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Header styles */
.header {
    background-color: #484A47;
    padding: 1vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    box-sizing: border-box;
}

.header h1 {
    font-family: Dosis, sans-serif;
    font-size: 3rem;
}


/* Button styles */
.header-button {
    display: flex;
}

/* PlotDisplay styles */
.headline-plot {
    font-size: 1rem;
    margin: 0;
    color: #537A5A;
    cursor: default;
    font-family: Dosis, sans-serif;
}
.sensor-name {
    font-size: 1rem;
    margin: 0;
    color: #537A5A;
    cursor: default;
    font-family: Dosis, sans-serif;
}

.gauge-container {
    font-size: 1rem;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Dosis, sans-serif;
}

.gauge-item, .temp, .hum, .pres {
    margin: 10px;
}

.temp {
    width: 400px;
    height: 400px;
    margin-bottom: -150px;
}

.hum-pres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hum, .pres {
    height: 280px;
}

/* Credits styles */
.credits-container {
    color: #484A47;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5vh;
    font-size: 1rem;
    cursor: default;
}

.credits-content {
    font-family: Bebas Neue, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    color: #484A47;
    box-sizing: border-box;
}

.credit-link, .country {
    color: #484A47;
    text-decoration: none;
    transition: text-decoration 0.3s, color 0.3s, cursor 0.3s;
    cursor: pointer;
}

.credit-link:hover, .country:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .gauge-item, .temp, .hum, .pres {
        width: 300px;
        height: 150px;
        margin: 10% auto;
    }
    body {
        font-family: Dosis, sans-serif;
        background-color: #1E1F1E;
        overflow-y: auto;
    }

    .credits-container {
        color: #484A47;
        display: compact;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-size: 0.4rem;
        cursor: default;
    }
    .header h1 {
        font-size: 2rem;
    }

    .headline-plot {
        font-size: 1rem;
        margin: 0;
        color: #537A5A;
        cursor: default;
        font-family: Dosis, sans-serif;
    }
    .sensor-name {
        font-size: 1rem;
        margin: 0;
        color: #537A5A;
        cursor: default;
        font-family: Dosis, sans-serif;
    }

}
