/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Dosis, sans-serif;
    background-color: #1C352E;
    color: #8E6F52;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-areas:
            "header"
            "content"
            "footer";
    grid-template-rows: 7vh 1fr 5vh;
}

/* Header styles */
.header {
    background-color: #D4A82B;
    padding: 1vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.header h1 {
    font-family: Dosis, sans-serif;
    font-size: 3rem;
}

/* Button styles */
.header-button {
    display: flex;
}

.content-container {
    grid-area: content;
    padding-top: 1vh;
    display: grid;
    justify-items: center;
}

.footer-container {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2vw;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    font-family: Bebas Neue, sans-serif;
}

@media (max-width: 800px) {
    .dashboard-row {
        grid-template-columns: 1fr;
    }
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

/* Credits styles */
.credits-content {
    font-family: Bebas Neue, sans-serif;
    color: #8E6F52;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6rem;
}

.credit-link, .country {
    color: #8E6F52;
    text-decoration: none;
    transition: text-decoration 0.3s, color 0.3s, cursor 0.3s;
    cursor: pointer;
}

.credit-link:hover, .country:hover {
    text-decoration: underline;
    cursor: pointer;
}

.second-button {
    font-size: 1.5rem!important;
    font-family: "Bebas Neue", monospace !important;
    background: #8E6F52 !important;
    color: #333333!important;
    box-shadow: none !important;
    margin-top: 10rem!important;
}

.overview {
    --width: 120ch;
    width: var(--width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(52, 26, 6);
    column-gap: 1em;
    padding: 1em;
}

.param-card {
    grid-row: span 3;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(80,31,6,0.98);
    box-sizing: border-box;
    border: 5px solid rgba(55,17,7,0.98) ;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 5vh auto 5vh;
    justify-items: center;
}

.tree-spacer {
    width: 100%;
    aspect-ratio: 3/1;
}

.param-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.param-svg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bird-cold {
    background-image: url("bird_cold.svg");
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    body {
        font-family: Dosis, sans-serif;
        background-color: #1C352E;
        overflow-y: auto;
    }

    .credits-container {
        color: #484A47;
        display: compact;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-size: 0.2rem;
        cursor: default;
    }
    .header h1 {
        font-size: 2rem;
    }
}
